<%- include('../partials/head.ejs', {tituloPagina: 'Nuevo Proveedor'}) %> 
<%- include('../partials/linksNav.ejs')%> 
<%- include('../partials/header.ejs', {user: user}) %> 

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Bienvenido <%= user.nombres%></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/adminproveedores">Lista</a></li>
                                <li class="breadcrumb-item active">Registrar Proveedor</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <section id="main-content">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>REGISTRAR UN NUEVO PROVEEDOR</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form action="/createProv" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>NOMBRE</label>
                                                <input type="text" class="form-control" placeholder="Nombre del Proveedor" id="nombre" name="nombre" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary m-b-10">REGISTRAR PROVEEDOR</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>ENLACE</label>
                                                <input type="url" class="form-control" placeholder="Agregar enlace a la web del proveedor" id="web" name="web" required>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
            
        </div>
    </div>
</div>

<%- include('../partials/scriptsNav.ejs') %> 
<%- include('../partials/footer.ejs') %> 