<%- include('../partials/head.ejs', {tituloPagina: 'Añadir Nuevo Producto'}) %> 
<%- include('../partials/linksNav.ejs')%> 
<%- include('../partials/header.ejs', {user: user}) %> 

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Bienvenido <%= user.nombres%></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="perfil?proveedor=<%= proveedor %>">Proveedor</a></li>
                                <li class="breadcrumb-item active">Añadir Producto</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <section id="main-content">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>AÑADIR PRODUCTO</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form action="agregar_producto" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>SKU</label>
                                                <input type="text" class="form-control" placeholder="SKU o Numero de Parte" id="sku" name="sku" required>
                                                <input type="text" name="proveedor" value="<%= proveedor %>" hidden>
                                            </div>
                                            <div class="form-group">
                                                <label>CATEGORIA</label>
                                                <select class="form-control" name="categoria" id="categoria" onchange="agregarCategoria()">
                                                    <% categorias.forEach((categoria)=>{ %>
                                                    <option value="<%= categoria.folio %>"><%= categoria.nombre %></option>
                                                    <% }) %>
                                                    <option value="other">Otra</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>MARCA</label>
                                                <select class="form-control" name="marca" id="marca" onchange="agregarMarca()">
                                                    <% marcas.forEach((marca)=>{ %>
                                                    <option value="<%= marca.folio %>"><%= marca.nombre %></option>
                                                    <% }) %>
                                                    <option value="other">Otra</option> 
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>PRECIO</label>
                                                <input type="number" step="any" class="form-control" placeholder="$ PRECIO . 00" id="precio" name="precio" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" id="to_ad">
                                            <div class="form-group">
                                                <label>DESCRIPCION DEL PRODUCTO</label>
                                                <textarea class="form-control" rows="3" placeholder="Descripcion del producto" required name="descripcion" id="descripcion"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>TIPO</label>
                                                <select class="form-control" name="tipo" id="tipo" onchange="agregarTipo()">
                                                    <% tipos.forEach((tipo)=>{ %>
                                                    <option value="<%= tipo.folio %>"><%= tipo.nombre %></option>
                                                    <% }) %>
                                                    <option value="other">Otra</option> 
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>LINK DE COMPRA</label>
                                                <input class="form-control" type="url" placeholder="Enlace de Compra" name="enlace" id="enlace" required>
                                                <span class="help-block">
                                                    <small>En caso de no contar con link de compra, colocar cualquier link de posible proveedor. Revise los proveedores <a href="/adminproveedores" target="_blank">aquí</a></small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary m-b-10">AÑADIR PRODUCTO</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
            
        </div>
    </div>
</div>

<script>
    function agregarMarca(){
        let selected = document.getElementById('marca').value;
        if(selected == 'other'){
            let column = document.getElementById('to_ad');
            // Crea el elemento div
            let divFormGroup = document.createElement("div");
            divFormGroup.className = "form-group";
            divFormGroup.id = 'agregar_nueva_marca'

            // Crea el elemento label
            let labelMarca = document.createElement("label");
            labelMarca.textContent = "Nueva Marca";

            // Crea el elemento input
            let inputMarca = document.createElement("input");
            inputMarca.type = "text";
            inputMarca.className = "form-control";
            inputMarca.placeholder = "Nombre de la nueva marca";
            inputMarca.id = "nueva_marca";
            inputMarca.name = "nueva_marca";

            // Agrega los elementos al div contenedor
            divFormGroup.appendChild(labelMarca);
            divFormGroup.appendChild(inputMarca);

            // Agrega el div al elemento padre
            column.appendChild(divFormGroup);
        }else if(selected != 'other'){
            let new_field = document.getElementById('agregar_nueva_marca');
            new_field.parentNode.removeChild(new_field);
        }
    }
    function agregarTipo(){
        let selected = document.getElementById('tipo').value;
        if(selected == 'other'){
            let column = document.getElementById('to_ad');
            // Crea el elemento div
            let divFormGroup = document.createElement("div");
            divFormGroup.className = "form-group";
            divFormGroup.id = 'agregar_nuevo_tipo'

            // Crea el elemento label
            let labelTipo = document.createElement("label");
            labelTipo.textContent = "Nuevo Tipo";

            // Crea el elemento input
            let inputTipo = document.createElement("input");
            inputTipo.type = "text";
            inputTipo.className = "form-control";
            inputTipo.placeholder = "Nombre del nuevo tipo";
            inputTipo.id = "nuevo_tipo";
            inputTipo.name = "nuevo_tipo";

            // Agrega los elementos al div contenedor
            divFormGroup.appendChild(labelTipo);
            divFormGroup.appendChild(inputTipo);

            // Agrega el div al elemento padre
            column.appendChild(divFormGroup);
        }else if(selected != 'other'){
            let new_field = document.getElementById('agregar_nuevo_tipo');
            new_field.parentNode.removeChild(new_field);
        }
    }
    function agregarCategoria(){
        let selected = document.getElementById('categoria').value;
        if(selected == 'other'){
            let column = document.getElementById('to_ad');
            // Crea el elemento div
            let divFormGroup = document.createElement("div");
            divFormGroup.className = "form-group";
            divFormGroup.id = 'agregar_nueva_categoria'

            // Crea el elemento label
            let labelCategoria = document.createElement("label");
            labelCategoria.textContent = "Nueva Categoria";

            // Crea el elemento input
            let inputCategoria = document.createElement("input");
            inputCategoria.type = "text";
            inputCategoria.className = "form-control";
            inputCategoria.placeholder = "Nombre de la nueva categoria";
            inputCategoria.id = "nueva_categoria";
            inputCategoria.name = "nueva_categoria";

            // Agrega los elementos al div contenedor
            divFormGroup.appendChild(labelCategoria);
            divFormGroup.appendChild(inputCategoria);

            // Agrega el div al elemento padre
            column.appendChild(divFormGroup);
        }else if(selected != 'other'){
            let new_field = document.getElementById('agregar_nueva_categoria');
            new_field.parentNode.removeChild(new_field);
        }
    }
</script>

<%- include('../partials/scriptsNav.ejs') %> 
<%- include('../partials/footer.ejs') %> 
