<%- include('partials/head.ejs', {tituloPagina: 'SUPER ADMIN | Dashboard'}) %> 
<%- include('partials/linksNav.ejs')%> 
<%- include('partials/header.ejs', {user: userName}) %> 

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="button-list">
                        <div class="btn-group btn-group-justified">
                            <button class="btn btn-primary btn-sm" onclick="pasarAsistencia('<%= userName.folio %>', '<%= encodeURIComponent(JSON.stringify(proyectosAsist)) %>')"><i class="ti-calendar"></i>  Registrar Asistencia</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Usuario</div>
                                    <div class="stat-digit"><%= userName.nombres %> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-money color-warning border-warning"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Saldo</div>
                                    <div class="stat-digit">$<%= userName.saldo.toFixed(2) %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title pr">
                                <h4>Ultimos Depositos (<a href="/adminViaticosPersonal?usuario=<%= userName.folio  %>" >Ver Todo</a>)</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th>Clave</th>
                                                <th>Monto</th>
                                                <th>Proyecto</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% depositos.forEach((deposito)=>{%>
                                                <tr>
                                                    <td><%= deposito.folio %></td>
                                                    <td onclick="go2Clave('<%= userName.folio %>', '<%= deposito.folio_clave %>')" style="cursor: pointer;"><%= deposito.clave %></td>
                                                    <td>$<%= deposito.monto.toFixed(2) %></td>
                                                    <td><%= deposito.nombre_proyecto %></td>
                                                    <td>
                                                        <div class="button-list">
                                                            <div class="btn-group btn-group-justified">
                                                                <a class="btn btn-primary btn-sm" href="/formLoadTicket?usuario=<%= userName.folio %>&clave=<%= deposito.folio_clave %>" title="Comprobar Deposito"><i class="ti-ticket"></i></a>
                                                                <a class="btn btn-warning btn-sm" href="<%= deposito.enlace %>" target="_blank" title="VER COMPROBANTE DE DEPOSITO"><i class="ti-files"></i></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <%}) %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-title pr">
                                <h4>Tareas Asignadas (<a href="/misTareas?folio=<%= userName.folio  %>" >Ver Todo</a>)</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>Etapa - Proyecto</th>
                                                <th>Estatus</th>
                                                <th>Tipo</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% tareas.forEach((tarea)=>{%>
                                            <tr>
                                                <%
                                                let bandage = ''
                                                switch(parseInt(tarea.folio_estatus)){
                                                    case 1: bandage = 'primary'; break;
                                                    case 2: bandage = 'success'; break;
                                                    case 3: bandage = 'warning'; break;
                                                    case 4: bandage = 'info'; break;
                                                    case 5: bandage = 'dark'; break;
                                                    case 6: bandage = 'danger'; break;
                                                    case 7: bandage = 'default'; break;
                                                } 
                                                %> 
                                                <td>
                                                    <div class="button-list">
                                                        <div class="btn-group btn-group-justified">
                                                            <button class="btn btn-primary btn-sm" onclick="showInfoTarea('<%= tarea.descripcion %>')"><i class="ti-info"></i></button>
                                                            <% if(tarea.folio_tipo == 1){%>
                                                            <button class="btn btn-success btn-sm" onclick="subirReporte('<%= tarea.folio_tarea %>', '<%= userName.folio %>')" title="Subir reporte"><i class="ti-files"></i></button>
                                                            <%}else if(tarea.folio_tipo == 2){%>
                                                            <button class="btn btn-success btn-sm" onclick="marcarEntrega('<%= tarea.folio_tarea %>', '<%= userName.folio %>')" title="Marcar como completada"><i class="ti-check"></i></button>
                                                            <%}%>
                                                            <% if(tarea.folio_estatus == 2 && tarea.folio_tipo != 2){ %>
                                                            <button class="btn btn-primary btn-sm" onclick="verReporte('<%= tarea.folio_tarea %>', '<%= encodeURIComponent(JSON.stringify(reportes)) %>')" title="Ver reporte"><i class="ti-eye"></i></button>
                                                            <%}%>  
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><%= tarea.folio_tarea %> - <%= tarea.proyecto %> - <%= tarea.etapa %></td>
                                                <td><span class="badge badge-<%= bandage %>"><%= tarea.estatus %></span></td>
                                                <td><%= tarea.tipo %></td>
                                                <td><%= tarea.fecha.toLocaleDateString('en-GB') %></td>
                                            </tr>    
                                            <%}) %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function pasarAsistencia(usuario, objeto){
            let proyectos = JSON.parse(decodeURIComponent(objeto))
            let opciones = ''
            proyectos.forEach((proyecto)=>{
                opciones = opciones + `<option value="${proyecto.folio_proyecto}">${proyecto.proyecto}</option>`
            })
            Swal.fire({
                title: 'Seleccionar Proyecto',
                width: '50%',
                text: 'Seleccione el proyecto para marcar',
                showCancelButton: true,
                html:
                    '<select id="proyecto" class="swal2-input" required>'+
                        '<option disabled selected>--Seleccione--</option>'+
                        opciones +
                    '</select>',
                focusConfirm: false
            }).then((result)=>{
                if(result.isConfirmed){
                    const valorSeleccionado = document.getElementById('proyecto').value
                    if(valorSeleccionado === '--Seleccione--'){alert('Debes seleccionar un proyecto');}
                    else{
                        let ruta = `/registrarAsistencia?usuario=${usuario}&proyecto=${valorSeleccionado}`
                        window.location = ruta
                    }
                }
            })
        }
        function showInfoTarea(descripcion){
            Swal.fire({
                icon: 'info',
                title: 'Descripcion de la tarea',
                text: `${descripcion}`,
            })
        }
        function subirReporte(tarea, usuario){
            Swal.fire({
                input: 'url',
                inputLabel: 'Ingrese la URL con el reporte',
                inputPlaceHolder: 'Ingrese una url valida',
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Tienes que escribir algo'
                    }else{
                        let ruta = `/subirReporteTarea?tarea=${tarea}&usuario=${usuario}&url=${value}&flag=0`
                        window.location = ruta
                    }
                }
            })
        }
        function verReporte(tarea, objeto){
            let reportes = JSON.parse(decodeURIComponent(objeto))

            reportes.forEach((reporte)=>{
                if(reporte.tarea == tarea){
                    window.open(reporte.enlace, '_blank')
                }
            })
        }
        function marcarEntrega(tarea, usuario){
        Swal.fire({
            title: '¿SEGURO?',
            text: `Se marcará como completada la tarea`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Entregar'
            }).then((result) => {
            if (result.isConfirmed) {
                const ruta = `/entregarTarea?tarea=${tarea}&usuario=${usuario}&flag=0`
                window.location = ruta
            }
        })
    }
        function go2Clave(usuario, clave){
        window.location = `/seguimientoClaves?usuario=${usuario}&clave=${clave}`;
    }
    </script>
<%- include('partials/scriptsNav.ejs') %> 
<%- include('partials/footer.ejs') %> 