<%- include('../../partials/head.ejs', {tituloPagina: 'Añadir un producto a la cotizacion'}) %> 
<%- include('../../partials/linksNav.ejs')%> 
<%- include('../../partials/header.ejs', {user: user}) %> 

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Bienvenido <%= user.nombres%></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <% if(flag == 0){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&proyecto=<%= proyecto %>&flag=<%= flag %>">Cotizacion</a></li>
                                <%}else if(flag == 1){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&proyecto=<%= proyecto %>&cliente=<%= cliente %>&flag=<%= flag %>">Cotizacion</a></li>
                                <%}else if(flag == 2 || flag == 3){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&proyecto=<%= proyecto %>&cliente=<%= cliente %>&ubicacion=<%= ubicacion %>&flag=<%= flag %>">Cotizacion</a></li>
                                <%}else if(flag == 4){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&ubicacion=<%= ubicacion %>&flag=4">Cotizacion</a></li>
                                <%}else if(flag == 5){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&ubicacion=<%= ubicacion %>&cliente=<%= cliente %>&flag=5">Cotizacion</a></li>
                                <%}else if(flag == 6){%>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&cliente=<%= cliente %>&flag=<%= flag %>">Cotizacion</a></li>
                                <%}else if(flag == 7){ %>
                                <li class="breadcrumb-item"><a href="/cotizacionMain?cotizacion=<%= cotizacion %>&proyecto=<%= proyecto %>&cliente=<%= cliente %>&flag=<%= flag %>&permisos=<%= permisos %>">Cotizacion</a></li> 
                                <% } %> 
                                <li class="breadcrumb-item active">Añadir Porducto</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <section id="main-content">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>AÑADIR NUEVO PRODUCTO</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-elements">
                                <form action="/addProductCot" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>SELECCIONAR PRODUCTO</label>
                                                <select class="form-control" name="producto" id="producto" onchange="cambioDeValores('<%= encodeURIComponent(JSON.stringify(productos)) %>')">
                                                    <option disabled selected>--Seleccione--</option>
                                                    <% productos.forEach((producto)=>{ %>
                                                    <option value="<%= producto.folio %>"><%= producto.descripcion %></option>
                                                    <% }) %> 
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>CANTIDAD</label>
                                                <input type="number" step="any" class="form-control" id="cantidad" name="cantidad" required>
                                            </div>
                                            <div class="form-group">
                                                <label>CANTIDAD DE SUPERVISORES</label>
                                                <input type="number" value="0" class="form-control" id="supervisores" name="supervisores" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" value="<%= cotizacion %>" class="form-control" id="cotizacion" name="cotizacion" hidden>
                                                <input type="number" value="<%= proyecto %>" class="form-control" id="proyecto" name="proyecto" hidden>
                                                <input type="number" value="<%= ubicacion %>" class="form-control" id="ubicacion" name="ubicacion" hidden>
                                                <input type="number" value="<%= cliente %>" class="form-control" id="cliente" name="cliente" hidden>
                                                <input type="number" value="<%= flag %>" class="form-control" id="flag" name="flag" hidden>
                                                <input type="number" value="<%= permisos %>" name="permisos" id="permisos" class="form-control" hidden>
                                            </div>
                                            <button type="submit" class="btn btn-primary m-b-10">AÑADIR A COTIZACION</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>PRECIO $</label>
                                                <input type="number" step="any" class="form-control" id="precio" name="precio" required>
                                            </div>
                                            <div class="form-group">
                                                <label>CANTIDAD DE TECNICOS</label>
                                                <input type="number" value="0" class="form-control" id="tecnicos" name="tecnicos" required>
                                            </div>
                                            <div class="form-group">
                                                <label>CANTIDAD DE DIAS</label>
                                                <input type="number" value="0" class="form-control" id="dias" name="dias" required>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </div>
</div>

<script>
    function cambioDeValores(objeto){
        console.log('cambiando valores')
        let valor = JSON.parse(decodeURIComponent(objeto))
        let selected = document.getElementById('producto').value
        let precio = 0
        valor.forEach((variable)=>{
            if(variable.folio == selected){
                precio = variable.precio
            }
        })
        document.getElementById('precio').value = precio
    }
</script>

<%- include('../../partials/scriptsNav.ejs') %> 
<%- include('../../partials/footer.ejs') %> 
